body {
    background-color: #5529c4;
    color: #ffffff;
}

.wrapper {
    max-height: 1000px;
    max-width: 1500px;
    margin: auto;
    padding: 100px;
    text-align: center;
    width: 100%;
}

.footer {
    background-color: #8cabc2;
    bottom: 0;
    height:25px;
    padding-left: 7px;
    position: fixed;
    width: 100%;
}

.media {
    min-width: 250px;
}

.content {
    height: 300px;
    padding-top: 125px;
    padding-bottom: 50px;
    min-width: 250px;
}

.logo img {
    max-width: 200px;
    width: 100%
}

iframe {
    display: block;
    margin: auto;
    max-width: 500px;
}

.socials {
    margin: auto;
    padding-top: 50px;
    max-width: 200px;
}

.socials img {
    width: 50px;
}

.wrapper img {
    margin: auto;
}