body {
    background-color: #5529c4;
    color: #ffffff;
}

.wrapper {
    padding: 32px;
    min-width: 250px;
}

.wrapper img {
    margin: auto;
}

.footer {
    background-color: #371b7d;
    bottom: 0;
    height:25px;
    padding-left: 7px;
    position: fixed;
    width: 100%;
}

.content {
    height: 180px;
}

.logo img {
    width: 250px;
}

.media {
    padding-top: calc(25vh - 180px);
}

iframe {
    width: 100%; 
    height: 500px;
    max-width: 500px;
}

.socials {
    margin: auto;
    padding-top: 25px;
    width: 200px;
}

.socials img {
    width: 50px;
}

.socials img:hover {
    background-color: #653dc9;
  }

@media screen and (max-width: 300px) {
    body {
        transform: scale(1.5, 1.5);
    }
}