body {
    background-color: #5529c4;
    color: #ffffff;
}

.wrapper {
    padding: 32px;
    min-width: 250px;
}

.wrapper img {
    margin: auto;
}

.footer {
    background-color: #371b7d;
    bottom: 0;
    height:25px;
    padding-left: 7px;
    position: fixed;
    width: 100%;
}

.content {
    height: 180px;
}

.logo img {
    width: 250px;
}

.media {
    padding-top: calc(25vh - 180px);
}

iframe {
    width: 100%; 
    height: 500px;
    max-width: 500px;
}

.socials {
    margin: auto;
    padding-top: 25px;
    width: 200px;
}

.socials img {
    width: 50px;
}

.socials img:hover {
    background-color: #653dc9;
}

.greeting {
    margin-top: 24px;
    height: 128px;
    text-align: center;
}

.headshot img {
    width: 100%;
    max-height: 600px;
    max-width: 450px;
}

.desc {
    padding-top: 64px;
    padding-right: 30px;
}

a {
    color: #ffffff;
    text-decoration: underline;
}

.projects {
    margin-top: 80px;
    text-align: center;
}

.proj {
    padding: 64px;
}


/* cursor animation taken from https://codepen.io/ArtemGordinsky/pen/GnLBq */
.blinking-cursor {
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}
  
@keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-webkit-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-ms-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-o-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}
/* end cursor animation */